*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
a.out
native/cmake_install.cmake
native/CMakeCache.txt
native/CMakeFiles
native/Makefile
libsecurity_wall.a
libsecurity_wall.so
testMode
